<!DOCTYPE html>
<html lang="ru">
<head>
  <title></title>
  <meta charset="UTF-8">
</head>
<body>
  <div>
  <table border="0" cellpadding="0" cellspacing="0" width="600px" bgcolor="#541494" style="font-family: 'Roboto Slab', sans-serif;">
    <tr style="height: 140px; text-align: center;">
      <td>
        <img width="167" height="54" src="http://freldo-prod.s3.amazonaws.com/images/ico-logo-email.png" alt="logo">
        <div style="margin: 0 auto; width: 100%; text-transform: uppercase; color: #fff; font-size: 20px; font-weight: 500; letter-spacing: 0.05em; padding-top: 8px">
        Unleash the power of service market</div>
      </td>
    </tr>
    <tr>
      <td style="padding: 0 20px;">
        <table border="0" cellpadding="0" cellspacing="0" bgcolor="#fff" width="100%" style="font-family: 'Roboto Slab', sans-serif;">
          <tr>
            <td style="padding: 40px 30px;">
							<div style="color: #3b3b3b; font-size: 14px;">欢迎您来到Freldo的ICO项目，</div>
							<div style="padding-top: 10px; color: #3b3b3b; font-size: 14px;">感谢您的关注。现在我将发送给您最新的消息和您感兴趣新闻</div>
							<div style="padding-top: 10px; color: #3b3b3b; font-size: 14px;">如果您想了解更多信息，详情见    
							<a style="color: #541494; font-size: 14px; text-decoration: none" href="mailto:support@freldo.com" target="_top">support@freldo.com</a></div>
							<div style="color: #3b3b3b; font-size: 14px; padding-top: 10px;">此致敬礼，<br/>Freldo团队敬上</div>
            </td>
          </tr>
        </table>
      </td>
    </tr>
    <tr style="color: #ffffff; height: 60px; text-align: center; opacity: 0.9; font-size: 13px;">
      <td>
        <div style="margin: 9px auto; text-align: center; opacity: 0.9; width: 194px">
            &copy; ${year} Freldo
        </div>
      </td>
    </tr>
  </table>
  <div>
</body>
</html>
